.page-container {
    padding: 20px 0;
    min-height: 400px;
    max-width: 1024px;
    margin: auto;
}

 /**
  Generic Card
   */
mat-card.generic-card {
    padding: 0 0 0 0 !important;
  
    mat-card-header.generic-card-header {
      height: 57px;
      display: flex;
      align-items: center;
      justify-content: left;
      background-color: #0065cb;
      border-radius: 4px 4px 0 0;
      color: #fff;
    }
  
    mat-card-header.generic-card-header > *{
      height: 100% !important;
      display: flex !important;
      align-items: center !important;
      justify-content: left;
      margin: 0 16px 0 16px !important;
    }
  
    mat-card-header.generic-card-header > mat-icon {
      width: auto !important;
    }
  
    mat-card-header.generic-card-header mat-card-title{
      margin: 0 -16px !important;
      font-size: 17px !important;
      font-weight: bold !important;
    }

    .newsletter-content {
        width: 90% !important;
        margin: 10px auto 0 auto;
        padding: 10px 20px 10px 20px;
    
        mat-card-content.genic-card-content {
          margin-bottom: 0 !important;
        }
    
        mat-divider {
          position: relative;
        }

        mat-card-actions.genic-card-content {
          margin-top: 10px;
          margin-bottom: 0 !important;
          margin-left: 0 !important;
          text-align: center;
        }

        .label {
            margin-top: .8rem;
            display: flex;
            font-size: 1rem;
            margin-bottom: 0.8rem;
        }

        .icon-label{
            font-size: 1rem;
        }

        .icon-label{
            font-size: 25px;
        }

        .container-info {
          margin-bottom: .8rem;
        }

        .box-info {
            margin: .3rem 0;
            font-size: 1rem;
        }

        .label-info {
          font-weight: 600;
        }

        .body-container {
          max-height: 35rem;        
          padding: 0.5rem;
          border: 2px solid rgb(0,0,0,.1);
          border-radius: 20px;
        }

        .body {
          max-height: 35rem;
          overflow-y: auto;
          overflow-x: auto;
          padding: .4rem;
        }

        .body-container {
          padding: .4rem;
          overflow-y: auto;
          overflow-x: auto;
        }
    }
}