.main-container {
  padding: 0.8rem 0;

  .left-container{
    mat-card {
      padding: 0;
    }
  }

  .right-container {
    mat-card {
      padding: 0;
    }
  }
}

mat-card.generic-card {

  mat-card-header.generic-card-header {
    height: 57px;
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: #0065cb;
    border-radius: 4px 4px 0 0;
    color: #fff;
  }

  mat-card-header.generic-card-header > *{
    height: 100% !important;
    display: flex !important;
    align-items: center !important;
    margin: 0 16px 0 16px !important;
  }

  mat-card-header.generic-card-header mat-icon.mat-card-avatar{
    width: auto !important;
  }

  mat-card-header.generic-card-header mat-card-title{
    margin: 0 -16px !important; // fix mat-card-header-text
    font-size: 17px !important;
    font-weight: bold !important;
  }

  .container-content {
    width: 90% !important;
    margin: 10px auto 0 auto;
    padding-bottom: 10px;


    mat-card-content {
      margin-bottom: 0 !important;
    }

    mat-card-actions {
      margin-bottom: 0 !important;
    }
  }
}


.container-info-items {
  margin: auto !important;
  display: flex;
  flex-direction: column;
  .item {
    display: flex;
    flex-direction: row;
    padding: 5px 10px 5px 10px;

    .item-left {
      width: 50%;
    }

    .item-right {
      text-align: center;
      width: 50%;
    }

    .item-row {
      width: 100%;
    }
  }
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.column {
  flex-direction: column !important;
}

.row {
  flex-direction: row !important;
}


.item-left {
  display: flex;
  flex-direction: row;
  align-items: center;

  .item-name {
    padding-left: 5px;
    display: inline-block;
  }
}
.flex-wrap {
  flex-wrap: wrap !important;
}

.column {
  flex-direction: column !important;
}

.row {
  flex-direction: row !important;
}


.container-actions {
  margin: auto !important;
  display: flex !important;
  flex-direction: row;
  justify-content: space-evenly !important;

  @media(max-width: 960px) {
    flex-direction: column;
    gap: 1rem;
  }

  .action-item {
    margin: 0 0 0 0 !important;
    display: flex;
    flex-direction: row;
    align-items: center !important;

    .action-name {
      padding-left: 5px;
      display: inline-block !important;
    }
  }

}

.modify, .view, .download {
  background-color: #007db3 !important;
}

mat-divider {
  position: relative !important;
  left: auto !important;
  margin: 5px auto! important;
}

.word-break {
  word-break: break-all;
}

.container-description {
  margin-bottom: 10px;
}

// container info -> likes, comments, copy paste url
.container-info {
  .container-url {
    width: 100% !important;
    mat-form-field {
      width: 100% !important;

      .mat-form-field-wrapper {
        padding: 0!important;
      }
    }
  }


  .container-social {
    padding-bottom: 15px;
  }
}

.like-attivo {
  color: #5a6672;
}

.like-non-attivo {
  color: #fa8c62;
}

.bg-black {
  color:black !important;
}

