<div class="news-area">
  <div class="news-category-container" *ngFor="let macroContenuto of homeContents">
    <div class="news-category-title">
      {{ macroContenuto.descTipo }}
    </div>
    <div class="news-item-container">
      <mat-card class="news-item mat-elevation-z2 border-green"
        *ngFor="let contenuto of macroContenuto.listaContenutiHome">
        <div class="news-item-title">
          {{ contenuto.titolo }}
        </div>
        <div class="news-item-upload-info">
          <span class="news-item-upload-author">
            {{ contenuto.nominativo }}
          </span>
          <span class="separator"> - </span>
          <span class="news-item-upload-date">
            {{ contenuto.dataModifica }}
          </span>
        </div>
        <div class="news-item-content">
          {{ contenuto.sommario }}
        </div>
      </mat-card>
    </div>
    <div class="news-item-action">
      <button class="action-btn">
        <span> Mostra altro </span>
      </button>
    </div>
  </div>
</div>
<div class="documents-area">
  <mat-card class="documents-card mat-elevation-z8">
    <mat-tab-group>
      <mat-tab label="Documenti recenti" class="documents-tab">
        <div class="documents-tab-content">
          <mat-card class="document mat-elevation-z2" *ngFor="let document of ultimiDocumenti">
            <div class="document-info">
              <div class="document-main-info">
                <div class="document-icon">
                  <mat-icon> description </mat-icon>
                </div>
                <div class="document-category">
                  {{ document.tipoDocumento }}
                </div>
              </div>
              <div class="upload-date">
                {{ document.creationDate }}
              </div>
            </div>
            <div class="document-title">
              {{ document.title }}
            </div>
            <div class="download-area">
              <button class="action-btn">
                <mat-icon> download </mat-icon>
                <div class="download-btn-label"> Download </div>
              </button>
            </div>
            <div class="upload-author">
              {{ document.author }}
            </div>
          </mat-card>
        </div>
      </mat-tab>
      <mat-tab label="Documenti più commentati" class="documents-tab">
        <div class="documents-tab-content">
          <mat-card class="document mat-elevation-z2" *ngFor="let document of documentiTopCommentati">
            <div class="document-info">
              <div class="document-main-info">
                <div class="document-icon">
                  <mat-icon> description </mat-icon>
                </div>
                <div class="document-category">
                  {{ document.tipoDocumento }}
                </div>
              </div>
              <div class="upload-date">
                {{ document.creationDate }}
              </div>
            </div>
            <div class="document-title">
              {{ document.title }}
            </div>
            <div class="download-area">
              <button class="action-btn">
                <mat-icon> download </mat-icon>
                <div class="download-btn-label"> Download </div>
              </button>
            </div>
            <div class="upload-author">
              {{ document.author }}
            </div>
          </mat-card>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>