.navbar-logo, .navbar-items-container, .navbar-item, .navbar-notification-container, .navbar-user-info {
    display: inline-block;
    background: #007db3;
    color: #fff;
    font-size: .9rem;
    vertical-align: top;
    height: 4rem;
}

.navbar-logo button.btn-item:hover, .navbar-item button.btn-item:hover, .navbar-user-info button.btn-item:hover {
    background: #006b99;
}

.navbar-logo button.btn-item, .navbar-item button.btn-item, .navbar-user-info button.btn-item {
    width: 100%;
    height: 100%;
    padding: 1rem .5rem;
    background: #007db3;
    border: 0;
    color: #fff;
    cursor: pointer;
    font-size: .9rem;
    line-height: 2rem;
}

button.user-info-item {
    text-align: center;
}

.navbar-logo {
    width: 14rem;
    font-size: 20px;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
}

.navbar-user-info {
    width: 14rem;
}

.navbar-notification-container {
    width: 4rem;
    text-align: center;
}

.navbar-items-container {
    width: calc(100% - 32rem);
    text-align: left;
}

.btn-item span {
    vertical-align: super;
}

.btn-notification {
    margin-top: 1rem;
    background: none;
    border: none;
    color: #fff;
    border-radius: 100%;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
}

.btn-notification:hover {
    color: #bbb;
}

.account-icon {
    margin-right: .2rem;
}

.app-title {
    font-size: 1.8rem;
    line-height: 2rem;
}

.navbar-container {
    /* box-shadow: 0 0 8px 4px #888; */
}