.lista-eventi {
  mat-list-option {
    color: whitesmoke !important;
    font-weight: 600 !important;
    border-radius: 5px !important;
    margin-bottom: 7px !important;
    padding: 2px 0 !important;
    opacity: 0.9 !important;
    font-size: small !important;
  }
}

/** fullcalendar custom
 */
.fc .fc-toolbar-title {
  text-transform: capitalize;
}

.fc .fc-button-primary {
  background-color: #00597f !important;
  border-color: #00597f !important;
}

.fc-event .fc-event-main, .fc-list-event-title {
  cursor: pointer;
  color: whitesmoke;
  div.custom-display {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    span.title {
      text-overflow: ellipsis;
      overflow: hidden;
      font-weight: 700;
      flex: 2;
      text-transform: capitalize;
    }
    span.lock {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: end;
      span.text{

      }
      i.material-icons{
      }
    }
  }
}

.fc-event-start.fc-event-end, .fc-list-event-title {
  cursor: pointer;
  white-space: normal;
  div.custom-display {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    span.title {
      text-overflow: ellipsis;
      overflow: hidden;
      font-weight: 700;
      flex: 2;
      text-transform: capitalize;
    }
    span.lock {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: end;
      span.text{

      }
      i.material-icons{
      }
    }
  }
}

/** containers
 */
.page-container {
  padding: 20px 0;
  min-height: 400px;
}

.container-tipo-eventi {
  border-radius: 4px;
}

.container-calendario {
  border-radius: 4px;
  padding: 15px;
}


/**
Generic Card
 */

.container-tipo-eventi {
  .generic-card {
    .container-content {
         padding: 0;
    }
  }
}
