<div class="description">
  Questa sezione è alimentata e mensilmente aggiornata sulla base dei dati pubblicati dalla DG Employment in Confluence
  (piattaforma accessibile agli esperti nazionali di EESSI abilitati).
  Nel file vengono raccolte mensilmente le dichiarazione di impegno degli Stati membri ad attivare gli scambi per
  Settori/BUC.
  La sezione permette mediante un sistema di filtri di individuare agevolmente le date pianificate e comunicate alla
  Commissione dall'EESSI SPOC di ogni Stato Membro per l'avvio degli scambi su ogni Settore (tipo di BUC).
</div>

<div class="table-header-container align-right">
  <div class="rapid-filter-area align-right">
    <mat-form-field>
      <mat-label> Filtra </mat-label>
      <input matInput (keyup)="applyFilter($event)">
    </mat-form-field>
  </div>
</div>

<div class="mat-elevation-z8">
  <table mat-table matSort [dataSource]="dataSource" class="ticket-table">

    <!-- Colonna Settore -->
    <ng-container matColumnDef="settore">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <div class="table-header-title"> Settore </div>
        <!-- TODO: Da fare la dropdown con i valori -->
      </th>
      <td mat-cell *matCellDef="let row"> {{ row.settore }} </td>
    </ng-container>

    <!-- Colonna Tipo BUC -->
    <ng-container matColumnDef="tipoBUC">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <div class="table-header-title"> Tipo BUC </div>
        <!-- TODO: Da fare la dropdown con i valori -->
      </th>
      <td mat-cell *matCellDef="let row"> {{ row.tipoBUC }} </td>
    </ng-container>

    <!-- Colonna Paese -->
    <ng-container matColumnDef="paese">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <div class="table-header-title"> Paese </div>
        <!-- TODO: Da fare la dropdown con i valori -->
      </th>
      <td mat-cell *matCellDef="let row"> {{ row.paese }} </td>
    </ng-container>

    <!-- Colonna Data Pianificazione -->
    <ng-container matColumnDef="dataPianificazione">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="data-pianificazione">
        <div class="table-header-title"> Data Pianificazione </div>
        <div class="table-header-subtitle"> secondo il paese </div>
      </th>
      <td mat-cell *matCellDef="let row"> {{ row.dataPianificazione | date:'dd/MM/yyyy' }} </td>
    </ng-container>

    <!-- Colonna Data In Produzione -->
    <ng-container matColumnDef="dataInProduzione">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <div class="table-header-title"> Data In Produzione </div>
        <!-- TODO: Da fare la dropdown con i valori -->
      </th>
      <td mat-cell *matCellDef="let row"> {{ row.dataInProduzione | date:'dd/MM/yyyy' }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- NO DATA COLUMN -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="5"> Nessun record presente </td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Seleziona pagina"></mat-paginator>
</div>