<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <!-- Ultimo livello -->
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
    <mat-icon class="mat-icon-rtl-mirror"> folder </mat-icon>
    <span matTreeNodeToggle class="folder-label" (click)="_onSelectedFolder(node.element)">
      {{ node.element.name }} ({{ node.element.numDocuments || 0 }})
    </span>
  </mat-tree-node>
  <!-- Altri livelli -->
  <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
    <mat-icon class="mat-icon-rtl-mirror">
      {{ treeControl.isExpanded(node) ? 'folder_open' : 'folder' }}
    </mat-icon>
    <span matTreeNodeToggle class="folder-label" (click)="_onSelectedFolder(node.element)">
      {{ node.element.name }} ({{ node.element.numDocuments || 0 }})
    </span>
  </mat-tree-node>
</mat-tree>