.operation:nth-child(odd) {
    background: green;
}

.operation:nth-child(even) {
    background: orange;
}

.operation.analytics {
    width: calc(100% - 3rem);
    font-size: 3rem;
}

.operation.analytics mat-icon {
    font-size: 3rem;
}

.operation {
    display: inline-block;
    width: calc(20% - 3rem);
    margin: .5rem;
    padding: 4rem 1rem;
}