<div class="operation-container">
  <!-- TODO: Fare un componente apposito per le operation -->
  <mat-card class="operation analytics">
    <mat-icon> insert_chart_outlined </mat-icon>
    <span class="operation-name"> Analytics </span>
  </mat-card>
  <mat-card class="operation">
    <mat-icon> person </mat-icon>
    <span class="operation-name"> Utenti </span>
  </mat-card>
  <mat-card class="operation">
    <mat-icon> account_balance </mat-icon>
    <span class="operation-name"> Organizzazioni </span>
  </mat-card>
  <mat-card class="operation">
    <mat-icon> groups </mat-icon>
    <span class="operation-name"> Gruppi </span>
  </mat-card>
  <mat-card class="operation">
    <mat-icon> support_agent </mat-icon>
    <span class="operation-name"> Help Desk </span>
  </mat-card>
  <mat-card class="operation">
    <mat-icon> flag </mat-icon>
    <span class="operation-name"> Rollout BUC </span>
  </mat-card>
  <mat-card class="operation">
    <mat-icon> folder </mat-icon>
    <span class="operation-name"> Categorie </span>
  </mat-card>
  <mat-card class="operation">
    <mat-icon> description </mat-icon>
    <span class="operation-name"> Tipi Documenti </span>
  </mat-card>
  <mat-card class="operation">
    <mat-icon> article </mat-icon>
    <span class="operation-name"> Tipi Contenuti </span>
  </mat-card>
  <mat-card class="operation">
    <mat-icon> calendar_today </mat-icon>
    <span class="operation-name"> Tipi Eventi </span>
  </mat-card>
  <mat-card class="operation">
    <mat-icon> settings </mat-icon>
    <span class="operation-name"> Impostazioni </span>
  </mat-card>
</div>