<div class="footer">
    <div class="footer-column footer-icon-container">
      <img src="assets\images\logo-inps-neg.png" alt="INPS Icon">
    </div>
    <div class="footer-column">
      <ul>
        <h2> Istituto Nazionale Previdenza Sociale </h2>
        <li> P.IVA 02121151001 </li>
        <li>
          <em>
            Sede Legale: <br>
            Via Ciro il Grande, 21 <br>
            00144 Roma
          </em>
        </li>
        <li class="title"> Contatti </li>
        <li class="title"> PEC </li>
        <li>
          <a href="https://www.facebook.com/INPS.PerLaFamiglia/">
            <img src="assets\images\logo-facebook-footer.jpg" alt="Facebook">
          </a>
          <a href="http://www.twitter.com/Inps_it">
            <img src="assets\images\logo-twitter-footer.jpg" alt="Twitter">
          </a>
          <a href="https://www.youtube.com/user/INPSComunica">
            <img src="assets\images\logo-youtube-footer.jpg" alt="YouTube">
          </a>
          <a href="https://www.linkedin.com/company/inps-official/">
            <img src="assets\images\logo-linkedin-footer.jpg" alt="Linkedin">
          </a>
          <a href="https://www.instagram.com/inps_social/">
            <img src="assets\images\logo-instagram-footer.jpg" alt="Instagram">
          </a>
        </li>
      </ul>
    </div>
    <div class="footer-column">
      <ul>
        <h2> {{footerTitle | uppercase}} </h2>
        <li> <a routerLink="/" target="_top"> Homepage </a> </li>
      </ul>
    </div>
  </div>