// .side-caret {
//     transform: rotate(-90deg);
// }

.mat-toolbar strong{
    margin: 0 1rem 0 1rem;
}

.ruoli-container {
    text-align: center;
    padding: 0.3rem;
}

.last-login-date {
    padding: 0.3rem;
}

.container-logout {
    text-align: center;
    padding: .5rem;
}