/* You can add global styles to this file, and also import other style files */

:root {
    --primary: #007db3;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
}

mat-form-field {
    width: 100%;
}

button.btn-primary {
    background-color: #007db3;
    color: #fff;
}

.action-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    color: #007db3;
    font-weight: bold;
    margin-top: .4rem;
}

.align-left, th.mat-header-cell.align-left {
    text-align: left;
}

.align-right, th.mat-header-cell.align-right {
    text-align: right;
}

.align-center, th.mat-header-cell.align-center {
    text-align: center;
}